*{
    margin: 0;
    padding: 0;
}
.page4{
    width: 100%;           
  max-width: 500px;        
  height: auto;           
  border-radius: 8px;      
 
  display: block;         
  margin: 20px auto;
}